@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title_base {
    @apply col-span-6 my-6 h-12 rounded-3xl bg-[#EDE9E6] p-2 text-[#6741D9] shadow-custom;
  }
  .title_err {
    @apply col-span-6 my-6 h-12 rounded-3xl border-2 border-red-500 bg-[#EDE9E6] p-2 text-[#6741D9] shadow-custom;
  }
  .title_ok {
    @apply col-span-6 my-6 h-12 rounded-3xl border-2 border-green-500 bg-[#EDE9E6] p-2 text-[#6741D9] shadow-custom;
  }
  .quill_base {
    @apply col-span-6 mb-6 rounded-3xl bg-[#EDE9E6] p-2 text-[#6741D9] shadow-custom;
  }
  .quill_err {
    @apply col-span-6 mb-6 rounded-3xl border-2 border-red-500 bg-[#EDE9E6] p-2 text-[#6741D9] shadow-custom;
  }
  .quill_ok {
    @apply col-span-6 mb-6 rounded-3xl border-2 border-green-500 bg-[#EDE9E6] p-2 text-[#6741D9] shadow-custom;
  }
  .coursetype_base {
    @apply mb-6 ml-1 rounded-lg bg-[#EDE9E6] p-1 text-[#6741D9] shadow-custom;
  }
  .coursetype_err {
    @apply mb-6 ml-1 rounded-lg border-2 border-red-500 bg-[#EDE9E6] p-1 text-[#6741D9] shadow-custom;
  }
  .coursetype_ok {
    @apply mb-6 ml-1 rounded-lg border-2 border-green-500 bg-[#EDE9E6] p-1 text-[#6741D9] shadow-custom;
  }
}

@layer base {
  blockquote {
    @apply my-4 border-s-4 border-gray-300 bg-gray-50 p-4 dark:border-gray-500 dark:bg-gray-100;
  }
  ul {
    @apply mx-6 list-disc;
  }
  ol {
    @apply mx-4 list-decimal;
  }
  a {
    @apply underline hover:font-bold;
  }
}

/* ? -----QUILL SETUP-------- */
.ql-toolbar.ql-snow {
  border: none !important;
  height: 15%;
}

.ql-container.ql-snow {
  border: none !important;
  height: 85%;
}
