.loader {
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 20rem;
}

@keyframes shake {
  25% {
    transform: rotate(10deg);
    transform-origin: bottom;
  }

  50% {
    transform: rotate(-10deg);
    transform-origin: bottom;
  }
  75% {
    transform: rotate(10deg);
    transform-origin: bottom;
  }
}
